{% load my_tags %}
<ul>
    {% for menu in sub_menu %}
            {% for item in menu %}
                {% if item.name == current_item %}
                    <li style="margin-left: {% multiply forloop.parentloop.counter0 %}px"><a style="color: #95a5a6" href="{% url 'get_menu' item.url %}">{{ item.name }}</a></li>
                    {% if item.about %}
                        <p style="color: white;">{{ item.about }}</p>
                {% endif %}
                {% else %}
                    <li style="margin-left: {% multiply forloop.parentloop.counter0 %}px"><a href="{% url 'get_menu' item.url %}">{{ item.name }}</a></li>
                {% endif %}
            {% endfor %}
    {% endfor %}
</ul>
